:host {
  display: block;
  height: 100%;
  width: 100%;
}

svg {
  width: 100%;
  height: 100%;
  border: 2px solid #cbd5e0;
  background-color: #f7fafc;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#mock-canvas {
  width: 100%;
  height: 100%;
  border: 2px solid #cbd5e0;
  background-color: #f7fafc;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
